<div class="modal-dialog-scrollable">
    <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-12">
          <h4>{{data.product}}</h4>
        </div>
      </div>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
          <div>
            Terminal ID:
            <strong style="float: right">{{data.terminal}}</strong>
          </div>
          <div class="details mt-2">
            Ref:
            <strong style="float: right">{{data.reference}}</strong>
          </div>
          <div class="details mt-2">
            Pay Method:
            <strong style="float: right">{{data.paymentMethod}}</strong>
          </div>
          <div class="details mt-2">
            Channel:
            <strong style="float: right">{{data.channel}}</strong>
          </div>
          <div class="details mt-2">
            Type:
            <strong style="float: right">{{data.type}}</strong>
          </div>
    </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Close</button>
    </div>
  </div>
</div>