<div class="container-fluid" *ngIf="showing=='vascash'">
  <div class="row">

    <button mdbBtn type="button" color="teal" outline="true" size="sm" mdbWavesEffect
      (click)="displayhome.emit('home')">Back</button>

    <button mdbBtn type="button" color="teal" rounded="true" size="sm" mdbWavesEffect
      (click)="exportAssXLSX()">Export</button>
  </div>
  <div class="container">
    <span>
      <h3>Vas Cash Transactions</h3>
    </span>
    <div class="card" style="border-color: teal;">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" small="true">
            <thead class="trans-head">
              <tr>
                <th class="head" *ngFor="let head of headElements" scope="col" style="color: rgb(64, 107, 153); ;">
                  {{head}}
                </th>
              </tr>
            </thead>
            <tbody>
              <mdb-spinner class="loading-screen-icon" *ngIf="isLoading" spinnerType="big" spinnerColor="blue">
              </mdb-spinner>
              <!-- <div class="progress-loader" [hidden]="!loading"> -->

              <!-- <mat-progress-spinner [mode]="'indeterminate'">
                                </mat-progress-spinner> -->

              <!-- </div> -->
              <!--  -->
              <tr *ngFor="let item of summarytrans let i = index">
                <th scope="row">{{serial + i}}</th>
                <td>{{item.reference}} </td>
                <td>{{item.product}} </td>

                <td>&#x20A6;{{item.amount / 100 | number: "1.2-2"}}</td>
                <td>{{item.terminal}}</td>
                <td>{{item.paymentMethod}}</td>
                <td [ngClass]="{
                                          'pos' : item.channel == 'POS',
                                          'android' : item.channel == 'ANDROID',
                                           'androidPOS' : item.channel == 'ANDROIDPOS',
                                           'web' : item.channel == 'WEB',
                                           'default' : item.channel == 'DEFAULT',
                                           'others' : item.channel == 'OTHER',
                                           'mtn' : item.channel == 'MTN'
                                        }">
                  {{item.channel}}
                </td>






                <td>
                  <mdb-badge class="status" [ngClass]="{
                                                                  'failed' : item.status == 'failed',
                                                                  'success' : item.status == 'successful',
                                                                   'initialized' : item.status == 'initialized',
                                                                  'declined' : item.status == 'declined',
                                                                  'debited' : item.status == 'debited'
                                                                }"> {{item.status}}</mdb-badge><br>

                </td>
                <td style="text-align: center;">{{item.created_at |date:'medium'}}


                </td>
              </tr>
              <strong class="summary-noData" *ngIf="isData == false">No Data Available</strong>
            </tbody>
          </table>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

            <button mdbBtn type="button" color="teal" class="waves-light" mdbWavesEffect (click)="prev()"
              [disabled]="prev_disable">Prev</button>
            <br>
            <div class="btn-text" style="margin-top: 14px;">
              Page {{this.page}}</div>
            <button mdbBtn type="button" color="teal" class="waves-light" mdbWavesEffect (click)="next()">Next</button>
          </div>
          <br>
          <!-- <div *ngIf="loading == true" style="cursor: wait;"> </div> -->

        </div>
      </div>
    </div>
  </div>