<!-- <div class="container">
  <label>App Configurations</label>

  <div class="row">

    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" small="true">

            <tbody>
              <mdb-spinner class="loading-screen-icon" *ngIf="loading" spinnerType="small" spinnerColor="blue">
              </mdb-spinner>
              <tr>
                <th scope="row">1</th>


                <td>channel id</td>
                <td>itex</td>
                <td>
                  <mdb-badge class="search" (click)="openRegister()" mdbwaveseffect>
                    Edit
                  </mdb-badge>
                </td>
                <td>
                  <mdb-badge class="save" (click)="openDelete()" mdbwaveseffect>
                    Delete
                  </mdb-badge>
                </td>
              </tr>
              <strong class="summary-noData" *ngIf="isData == false">No Data Available</strong>
            </tbody>
          </table>
          </div>
        <br>

      </div>
    </div>

  </div>
</div> -->

<!-- Add User Modal -->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h6 class="modal-title w-100" id="myModalLabel">Register Details</h6>
      </div>
      <div class="modal-body">
        <form style="color: #757575;" [formGroup]="registerForm">
          <mdb-icon far icon="user"></mdb-icon> &nbsp; Enter Field
          <br>
          <input type="text" ngDefaultControl formControlName="field" [ngClass]="{'is-invalid': (registerForm.get('field').touched ||
              registerForm.get('field').dirty) &&
              !registerForm.get('field').valid }">
          <span class="invalid-feedback">
            <h5 class="login-title"> Please enter field </h5>
          </span>
          <br>
          <mdb-icon far icon="user"></mdb-icon> &nbsp; Enter Value
          <br>
          <input type="text" ngDefaultControl formControlName="value" [ngClass]="{'is-invalid': (registerForm.get('value').touched ||
              registerForm.get('value').dirty) &&
              !registerForm.get('value').valid }">
          <span class="invalid-feedback">
            <h5 class="login-title"> Please enter value </h5>
          </span>

          <br>
        </form>
      </div>
      <div class="modal-footer">
        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
        <button [disabled]="!registerForm.valid" class="search-but" mdbWavesEffect (click)="registerAppConfigLive()">Create
        </button>
        <button class="search-but" aria-label="Close" (click)="cancel()" style="background: #EB5757;"
          mdbWavesEffect>Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete User Modal -->
<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="modal-title w-100" id="myModalLabel">Delete User Permanently?</h6>

      </div>
      <div class="modal-footer">
        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
    
        <button class="search-but" mdbWavesEffect (click)="deleteAppConfigLive()" style="background: #EB5757;">Yes
        </button>
        <button class="search-but" (click)="deleteModal.hide" mdbWavesEffect>No</button>
      </div>
    </div>
  </div>
</div>


<div class="container margin-top">
  <div class="col-md-6 offset-md-3">
    <label>Live App Configurations</label>
    <div class="switch" style="float: right;">
      <label style="font-size: 18px;">
        Live
        <input type="checkbox">
        <span class="lever"></span> Test
      </label><br>
    </div>
    <div class="card">
      <div class="card-body">

        <mdb-badge class="add-button" (click)="openRegister()" mdbwaveseffect>
         Add
        </mdb-badge>
        <br>
       
        <div class="table-responsive">
          <table class="table table-hover" small="true">

            <tbody>
              <mdb-spinner class="loading-screen-icon" *ngIf="loading" spinnerType="small" spinnerColor="blue">
              </mdb-spinner>
              <tr *ngFor="let item of tt">
                <th scope="row">{{item.no}} </th>
                <td>  {{item.field}}   </td>
                <td>{{item.value}} </td>
                <td>
                  <mdb-badge class="search" (click)="openRegister()" mdbwaveseffect>
                    Edit
                  </mdb-badge>
                </td>
                <td>
                  <mdb-badge class="save" (click)="openDelete()" mdbwaveseffect>
                    Delete
                  </mdb-badge>
                </td>
                <!-- <td ><button>delete</button></td> -->
              </tr>
              <strong class="summary-noData" *ngIf="isData == false">No Data Available</strong>
            </tbody>
          </table>
          <!-- <pagination [boundaryLinks]="true" [totalItems]="lastPage" [itemsPerPage]="perPage" [(ngModel)]="currentPage"
            [maxSize]="maxSize" (pageChanged)="pageChanged($event)" firstText="&laquo;" lastText="&raquo;"></pagination> -->
        </div>
        <br>


      </div>

    </div>
  </div>
</div>

