<div [ngSwitch]="currentView">
  <div *ngSwitchDefault class="container margin-top">
    <div class="col-md-6 offset-md-3">
      <label>Live App Configurations</label>

      <div class="switch" style="float: right;">
        <label style="font-size: 18px;">
          Live
          <input type="checkbox" (click)="setCurrentView('test')">
          <span class="lever"></span> Test
        </label><br>
      </div>

    </div>

    <div class="card">
      <div class="card-body">

        <mdb-badge class="add-button" (click)="openRegister()" mdbwaveseffect>
          Add
        </mdb-badge>
        <br><br>

        <div class="table-responsive">
          <table class="table table-hover" small="true">

            <tbody>
              <mdb-spinner class="loading-screen-icon" *ngIf="loading" spinnerType="small" spinnerColor="blue">
              </mdb-spinner>
              <tr *ngFor="let item of detailsData let i = index">
                <th scope="row">{{serial + i}}</th>
                <td> {{item.field}} </td>
                <td>{{item.value}} </td>
                <td>
                  <mdb-badge class="search" (click)="openUpdate(item)" mdbwaveseffect>
                    Edit
                  </mdb-badge>
                </td>
                <td>
                  <mdb-badge class="save" (click)="openDelete(item)" mdbwaveseffect>
                    Delete
                  </mdb-badge>
                </td>
              </tr>
              <strong class="summary-noData" *ngIf="isData == false">No Data Available</strong>
            </tbody>
          </table>
          <!-- <pagination [boundaryLinks]="true" [totalItems]="lastPage" [itemsPerPage]="perPage" [(ngModel)]="currentPage"
            [maxSize]="maxSize" (pageChanged)="pageChanged($event)" firstText="&laquo;" lastText="&raquo;"></pagination> -->
        </div>
        <br>


      </div>

    </div>
  </div>

  <!-- Add User Modal -->
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h6 class="modal-title w-100" id="myModalLabel">Register Setting</h6>
        </div>
        <div class="modal-body">
          <form style="color: #757575;" [formGroup]="registerForm">
            <mdb-icon far icon="user"></mdb-icon> &nbsp; Enter Field
            <br>
            <input type="text" ngDefaultControl formControlName="field" [ngClass]="{'is-invalid': (registerForm.get('field').touched ||
            registerForm.get('field').dirty) &&
            !registerForm.get('field').valid }">
            <span class="invalid-feedback">
              <h5 class="login-title"> Please enter field </h5>
            </span>
            <br>
            <mdb-icon far icon="user"></mdb-icon> &nbsp; Enter Value
            <br>
            <input type="text" ngDefaultControl formControlName="value" [ngClass]="{'is-invalid': (registerForm.get('value').touched ||
            registerForm.get('value').dirty) &&
            !registerForm.get('value').valid }">
            <span class="invalid-feedback">
              <h5 class="login-title"> Please enter value </h5>
            </span>

            <br>
          </form>
        </div>
        <div class="modal-footer">
          <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
          <button [disabled]="!registerForm.valid" class="search-but" mdbWavesEffect
            (click)="registerAppConfigLive()">Create
          </button>
          <button class="search-but" aria-label="Close" (click)="cancel()" style="background: #EB5757;"
            mdbWavesEffect>Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Update user modal -->
  <div mdbModal #updateModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="updateModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h6 class="modal-title w-100" id="myModalLabel">Update Setting</h6>
        </div>
        <div class="modal-body">
          <form style="color: #757575;" [formGroup]="registerForm">
            <mdb-icon far icon="user"></mdb-icon> &nbsp; Enter Field
            <br>
            <input type="text" ngDefaultControl formControlName="field" [ngModel]="updateId" [ngClass]="{'is-invalid': (registerForm.get('field').touched ||
            registerForm.get('field').dirty) &&
            !registerForm.get('field').valid }">
            <span class="invalid-feedback">
              <h5 class="login-title"> Please enter field </h5>
            </span>
            <br>
            <mdb-icon far icon="user"></mdb-icon> &nbsp; Enter Value
            <br>
            <input type="text" ngDefaultControl formControlName="value" [(ngModel)]="updateValue" [ngClass]="{'is-invalid': (registerForm.get('value').touched ||
            registerForm.get('value').dirty) &&
            !registerForm.get('value').valid }">
            <span class="invalid-feedback">
              <h5 class="login-title"> Please enter value </h5>
            </span>

            <br>
          </form>
        </div>
        <div class="modal-footer">
          <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
          <button [disabled]="!registerForm.valid" class="search-but" mdbWavesEffect
            (click)="updateAppConfigLive()">Update
          </button>
          <button class="search-but" aria-label="Close" (click)="updateModal.hide()" style="background: #EB5757;"
            mdbWavesEffect>Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Delete User Modal -->
  <div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="modal-title w-100" id="myModalLabel">Delete Setting Permanently?</h6>

        </div>
        <div class="modal-footer">
          <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>

          <button class="search-but" mdbWavesEffect (click)="deleteAppConfigLive()" style="background: #EB5757;">Yes
          </button>
          <button class="search-but" (click)="deleteModal.hide" mdbWavesEffect>No</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Test server -->
  <div *ngSwitchCase="'test'" class="container margin-top">
    <div class="col-md-6 offset-md-3">
      <label>Test App Configurations</label>
      <div class="switch" style="float: right;">
        <label style="font-size: 18px;">
          Live
          <input type="checkbox" checked (click)="setCurrentView('live')">
          <span class="lever"></span> Test
        </label><br>
      </div>


      <div class="card">
        <div class="card-body">
  
          <mdb-badge class="add-button" (click)="openRegisterTest()" mdbwaveseffect>
            Add
          </mdb-badge>
          <br><br>
  
          <div class="table-responsive">
            <table class="table table-hover" small="true">
  
              <tbody>
                <mdb-spinner class="loading-screen-icon" *ngIf="loading" spinnerType="small" spinnerColor="blue">
                </mdb-spinner>
                <tr *ngFor="let item2 of testData let i = index">
                  <th scope="row">{{serial + i}}</th>
                  <td> {{item2.field}} </td>
                  <td>{{item2.value}} </td>
                  <td>
                    <mdb-badge class="search" (click)="openUpdateTest(item2)" mdbwaveseffect>
                      Edit
                    </mdb-badge>
                  </td>
                  <td>
                    <mdb-badge class="save" (click)="openDeleteTest(item2)" mdbwaveseffect>
                      Delete
                    </mdb-badge>
                  </td>
                </tr>
                <strong class="summary-noData" *ngIf="isData2 == false">No Data Available</strong>
              </tbody>
            </table>
            <!-- <pagination [boundaryLinks]="true" [totalItems]="lastPage" [itemsPerPage]="perPage" [(ngModel)]="currentPage"
              [maxSize]="maxSize" (pageChanged)="pageChanged($event)" firstText="&laquo;" lastText="&raquo;"></pagination> -->
          </div>
          <br>
  
  
        </div>
  
      </div>  

       <!-- Add User Modal -->
  <div mdbModal #basicModalTest="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModalTest.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h6 class="modal-title w-100" id="myModalLabel">Register Setting</h6>
      </div>
      <div class="modal-body">
        <form style="color: #757575;" [formGroup]="registerForm">
          <mdb-icon far icon="user"></mdb-icon> &nbsp; Enter Field
          <br>
          <input type="text" ngDefaultControl formControlName="field" [ngClass]="{'is-invalid': (registerForm.get('field').touched ||
          registerForm.get('field').dirty) &&
          !registerForm.get('field').valid }">
          <span class="invalid-feedback">
            <h5 class="login-title"> Please enter field </h5>
          </span>
          <br>
          <mdb-icon far icon="user"></mdb-icon> &nbsp; Enter Value
          <br>
          <input type="text" ngDefaultControl formControlName="value" [ngClass]="{'is-invalid': (registerForm.get('value').touched ||
          registerForm.get('value').dirty) &&
          !registerForm.get('value').valid }">
          <span class="invalid-feedback">
            <h5 class="login-title"> Please enter value </h5>
          </span>

          <br>
        </form>
      </div>
      <div class="modal-footer">
        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
        <button [disabled]="!registerForm.valid" class="search-but" mdbWavesEffect
          (click)="registerAppConfigTest()">Create
        </button>
        <button class="search-but" aria-label="Close" (click)="cancel()" style="background: #EB5757;"
          mdbWavesEffect>Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Update user modal -->
<div mdbModal #updateModalTest="mdbModal" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="myBasicModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="updateModalTest.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h6 class="modal-title w-100" id="myModalLabel">Update Setting</h6>
    </div>
    <div class="modal-body">
      <form style="color: #757575;" [formGroup]="registerForm">
        <mdb-icon far icon="user"></mdb-icon> &nbsp; Enter Field
        <br>
        <input type="text" ngDefaultControl formControlName="field" [ngModel]="updateIdTest" [ngClass]="{'is-invalid': (registerForm.get('field').touched ||
        registerForm.get('field').dirty) &&
        !registerForm.get('field').valid }">
        <span class="invalid-feedback">
          <h5 class="login-title"> Please enter field </h5>
        </span>
        <br>
        <mdb-icon far icon="user"></mdb-icon> &nbsp; Enter Value
        <br>
        <input type="text" ngDefaultControl formControlName="value" [(ngModel)]="updateValueTest" [ngClass]="{'is-invalid': (registerForm.get('value').touched ||
        registerForm.get('value').dirty) &&
        !registerForm.get('value').valid }">
        <span class="invalid-feedback">
          <h5 class="login-title"> Please enter value </h5>
        </span>

        <br>
      </form>
    </div>
    <div class="modal-footer">
      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
      <button [disabled]="!registerForm.valid" class="search-but" mdbWavesEffect
        (click)="updateAppConfigTest()">Update
      </button>
      <button class="search-but" aria-label="Close" (click)="updateModalTest.hide()" style="background: #EB5757;"
        mdbWavesEffect>Cancel</button>
    </div>
  </div>
</div>
</div>

<!-- Delete User Modal -->
<div mdbModal #deleteModalTest="mdbModal" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="myBasicModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalTest.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <h6 class="modal-title w-100" id="myModalLabel">Delete Setting Permanently?</h6>

    </div>
    <div class="modal-footer">
      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>

      <button class="search-but" mdbWavesEffect (click)="deleteAppConfigTest()" style="background: #EB5757;">Yes
      </button>
      <button class="search-but" (click)="deleteModalTest.hide" mdbWavesEffect>No</button>
    </div>
  </div>
</div>
</div>

    </div>
  </div>



  </div>