.total-trans {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #002035;
}
.trans-amount {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 0px;
  text-align: right;
  color: #002035;
  margin-top: -16px;
}
.trans-card-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 0px;
  color: black;
}

.trans-head {
  background: rgba(242, 242, 242, 0.56);
  border: 3px solid rgba(242, 242, 242, 0.56);
}
.head {
  font-weight: 600 !important;
}
.card .card-body {
  padding: 7px;
}

.wallet {
  float: right;
  color: #828282;
}

.users {
  color: black;
  font-size: 24px;
}
.fail {
  color: #eb5757;
  font-size: 24px;
}
.total {
  color: #219653;
  font-size: 24px;
}
.total-users {
  float: right;
  margin-top: -22px;
}

table td {
  font-size: smaller;
  padding-bottom: 0px;
  padding-top: 2px;
}
table.table th,
table.table td {
  padding-top: 0.1rem;
  padding-bottom: 0rem;
}

.trans-category {
  margin-bottom: 0px;
  font-size: 11px;
  color: darkgray;
}

// Item process time
.time {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-left: 35px;
  width: 36px !important;
  border-radius: 10px;
  margin-top: 7px;
}
.warning {
  background: #f2c94c;
}
.success {
  color: teal !important;
}

.danger {
  background: #219653;
}
// item channel
.pos {
  color: #219653;
  font-weight: 600;
}
.web {
  color: #f2c94c;
  font-weight: 600;
}
.android {
  color: #eb5757;
  font-weight: 600;
}
.androidPOS {
  color: brown;
  font-weight: 600;
}
.default {
  color: purple;
  font-weight: 600;
}
.others {
  color: #2f80ed;
  font-weight: 600;
}
.mtn {
  color: chocolate;
  font-weight: 600;
}

// item paymant method
.cash {
  color: black;
  background-image: url("/assets/money.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: none;
  border: none;
  height: 19px;
}

.cards {
  color: black;
  background-image: url("/assets/credit-card.svg");
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: none;
  border: none;
}
.loading-screen-icon {
  position: absolute;
  // top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  margin-top: 2rem;
  cursor: wait;
}
// .loading-screen-wrapper {
//   z-index: 100000;
//   position: absolute;
//   background-color: rgba(255, 255, 255, 0.6);
//   width: 100%;
//   height: 100%;
//   display: block;
// }
label {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}
mdb-date-picker {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding-right: -4px;
  font-weight: 400;
  font-size: 14px;
  background: white;
  padding: 10px;
}

.custom-select {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 9rem;
  padding-right: -4px;
  height: 33px;
  padding-left: 12px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
}
.search {
  background: #2f80ed;
  height: 31px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  margin-left: -10px;
  width: 81px !important;
  border-radius: 5px;
  margin-top: 14px;
  cursor: pointer;
  margin-right: 6px;
}
.save {
  background: #2f80ed;
  height: 31px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  margin-left: -4px;
  width: 81px !important;
  border-radius: 5px;
  margin-top: 7px;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.ref {
  margin-top: 14px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #2f80ed;
}
.stat {
  margin-top: 14px;
}

.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
  text-align: center;
}

.number-input.number-input {
  border: 1px solid #ced4da;

  border-radius: 0.25rem;
}

.number-input.number-input button {
  width: 2.6rem;
  height: 0.7rem;
}

.number-input.number-input button.minus {
  padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: 0.7rem;
  background-color: #495057;
}

.number-input.number-input input[type="number"] {
  max-width: 4rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -0.3rem;
    }
  }
}
.total-trans {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #002035;
}
.trans-amount {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 0px;
  text-align: right;
  color: #002035;
  margin-top: -16px;
}
.trans-card-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 0px;
  color: black;
}

.trans-head {
  background: rgba(242, 242, 242, 0.56);
  border: 3px solid rgba(242, 242, 242, 0.56);
}
.head {
  font-weight: 600 !important;
}
.card .card-body {
  padding: 7px;
}

.wallet {
  float: right;
  color: #828282;
}

.users {
  color: black;
  font-size: 24px;
}
.fail {
  color: #eb5757;
  font-size: 24px;
}
.total {
  color: #219653;
  font-size: 24px;
}
.total-users {
  float: right;
  margin-top: -22px;
}

table td {
  font-size: smaller;
  padding-bottom: 0px;
  padding-top: 2px;
}
table.table th,
table.table td {
  padding-top: 0.1rem;
  padding-bottom: 0rem;
}

.trans-category {
  margin-bottom: 0px;
  font-size: 11px;
  color: darkgray;
}

// item.status
.status {
  height: 20px !important;
  border-radius: 10px;
  width: 65% !important;
  background: #2f80ed;
  font-style: normal;
  font-weight: 500;
  font-size: 10px !important;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
}

.debited {
  background: #2f80ed;
}
.failed {
  color: #dc3545 !important;
}
.declined {
  background: #eb5757;
}
.initialized {
  color: #f2c94c;
}

// Item process time
.time {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-left: 35px;
  width: 36px !important;
  border-radius: 10px;
  margin-top: 7px;
}
.warning {
  background: #f2c94c;
}
.success {
  color: #219653;
}

.danger {
  background: #219653;
}
// item channel
.pos {
  color: #219653;
  font-weight: 600;
}
.web {
  color: #f2c94c;
  font-weight: 600;
}
.android {
  color: #eb5757;
  font-weight: 600;
}
.androidPOS {
  color: brown;
  font-weight: 600;
}
.default {
  color: purple;
  font-weight: 600;
}
.others {
  color: #2f80ed;
  font-weight: 600;
}
.mtn {
  color: chocolate;
  font-weight: 600;
}

// item paymant method
.cash {
  color: black;
  background-image: url("/assets/money.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: none;
  border: none;
  height: 19px;
}

.cards {
  color: black;
  background-image: url("/assets/credit-card.svg");
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: none;
  border: none;
}
.loading-screen-icon {
  position: absolute;
  // top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  margin-top: 2rem;
  cursor: wait;
}
// .loading-screen-wrapper {
//   z-index: 100000;
//   position: absolute;
//   background-color: rgba(255, 255, 255, 0.6);
//   width: 100%;
//   height: 100%;
//   display: block;
// }
label {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}
mdb-date-picker {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding-right: -4px;
  font-weight: 400;
  font-size: 14px;
  background: white;
  padding: 10px;
}

.custom-select {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 9rem;
  padding-right: -4px;
  height: 33px;
  padding-left: 12px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
}
.search {
  background: #2f80ed;
  height: 31px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  margin-left: -10px;
  width: 81px !important;
  border-radius: 5px;
  margin-top: 14px;
  cursor: pointer;
  margin-right: 6px;
}
.save {
  background: #2f80ed;
  height: 31px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  margin-left: -4px;
  width: 81px !important;
  border-radius: 5px;
  margin-top: 7px;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

input {
  margin-top: 14px;
  height: 33px;
  padding-left: 0px;
  border: 1px solid #2f80ed;
  width: 14rem;
  margin-left: -3rem;
}
.ref {
  margin-top: 14px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #2f80ed;
}
.stat {
  margin-top: 14px;
}
