table td {
    padding: .3rem!important;
}
img{
    height: 50px;
    margin-top: 7px;
}
.btn{
    height: 24px !important;
    font-size: 10px !important;
    text-align: center !important;
    line-height: 5px !important;
    background-color: #4B709A !important;
    border: 1px solid #4B709A !important;
}
.invoice-box table td {
    // padding: 0 6px;
    // vertical-align: top;
    font-size: 9px !important;
    white-space: pre-line;
  }