<div class="row mt-2">
        <!-- first card -->
        <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right successful">+20%</div>
                                <p class="card-text">Yesterday</p> <br>
                                <h4>
                                                <mdb-spinner *ngIf="'data' == undefined" spinnerColor="blue"></mdb-spinner>
                                                <mdb-spinner *ngIf="loading" spinnerColor="blue"></mdb-spinner>
                                        <div class="pull-right">&#x20A6;{{yesterdayTotal.data.amount | thousandSuff : 2}}</div>
                                        <p class="card-text"> {{yesterdayTotal.data.count | thousandSuff : 2}}<br>Transactions</p>
                                </h4>
                        </div>
                </div>
        </div>
        <!-- first card -->

        <!-- second card -->
        <div class="col-sm-4">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right successful">-2% </div>
                                <p class="card-text">Total Successful</p> <br>
                                <h4>
                                                <mdb-spinner *ngIf="loading" spinnerColor="blue"></mdb-spinner>
                                        <div class="pull-right">&#x20A6;{{yesterdaySuccess.data.amount | thousandSuff : 2}}</div>
                                        <p class="card-text">{{yesterdaySuccess.data.count | thousandSuff : 2}}<br>Transactions</p>
                                </h4>
                        </div>
                </div>
        </div>
        <!-- second card -->

        <!-- third card -->
        <div class="col-sm-4">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right failed">33%</div>
                                <p class="card-text">Total Failed</p> <br>
                                <h4>
                                                <mdb-spinner *ngIf="loading" spinnerColor="blue"></mdb-spinner>
                                               
                                        <div class="pull-right"> &#x20A6;{{yesterdayFailed.data.amount | thousandSuff : 2}}</div>
                                        <p class="card-text">{{yesterdayFailed.data.count | thousandSuff : 2}}<br>Transactions</p>
                                </h4>
                        </div>
                </div>
        </div>
        <!-- third card -->
</div>