.trans-head{   
background: rgba(242, 242, 242, 0.56);
border: 3px solid rgba(242, 242, 242, 0.56); 
 }
.head{
  font-weight: 600 !important;
}
.card .card-body {
padding: 0px;
}

@media (min-width: 1200px){
 .container {
  max-width: 1325px;
}
}

 table td {
  font-size: smaller;
}

.trans-category{
margin-bottom: 0px;
font-size: 11px;
color: darkgray
}

// item.status
.status{
  height: 23px;
  border-radius: 10px;
  width: 100%;
  background: #2F80ED;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 9px;
}
.debited{
 background:  #EB5757;
}
.failed{
  background: #EB5757;
}
.declined{
  background: #EB5757; 
}
.initialized{
  background: #F2C94C;
}

// Item process time
.time{
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 35px;
  width: 36px !important;
  border-radius: 10px;
  margin-top: 9px;
}
.warning{
  background: #F2C94C;
}
.success{
  background: #219653;
}

.danger{
  background: #219653;
}
// item channel
.pos{
  color: #219653;
}
.web{
  color: #F2C94C;
}
.android{
  color:  #EB5757; 
}
.androidPOS{
  color:  brown;
}
.default{
  color: purple;
}
.others{
  color: #2F80ED;
}
.mtn{
color: chocolate;
}

// item paymant method
.trans-icon{
  height: 21px;
line-height: 14px;
width: 3rem;
font-size: 12px;
}
.trans-method{
  // margin-bottom: 0px;
font-size: 11px;
color: darkgray;
  background-image: url("/assets/credit-card.svg") !important;
}
// .cash{
//   background-image: url('/assets/money.svg');
// }
// .card{
//   background-image: url('/assets/credit-card.svg');
// }
.loading-screen-icon {
  position: absolute;
  // top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  margin-top: 2rem;
  cursor: wait;
}
// .loading-screen-wrapper {
//   z-index: 100000;
//   position: absolute;
//   background-color: rgba(255, 255, 255, 0.6);
//   width: 100%;
//   height: 100%;
//   display: block;
// }