<div class="row">
        <div class="col-12">
                <!-- first card -->
                <label class="summary-total-trans">This Week</label>
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right" [ngClass]="{
                                          'positive' : totalPercent > 0,
                                           'negative' : totalPercent < 0
                                         }">{{ totalPercent | toNumber | number:'1.0-0'}}%</div>
                                <div class="total-percent mt-3">Vs Previous Week</div>
                                <p class="summary-total-trans">Total Transactions</p> <br>
                                <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue"></mdb-spinner>
                                <h4 *ngIf="loading == false">
                                        <div *ngIf="isData == true" class="summary-amount">
                                                &#x20A6;{{totalAmount | thousandSuff : 2}}</div>
                                        <p *ngIf="isData == true" class="summary-card-text">
                                                {{ totalCount | thousandSuff }}
                                               <br> Transactions</p>
                                </h4>
                                <strong class="summary-noData" *ngIf="isData == false">No Data Available</strong>
                        </div>
                </div>

                <!-- first card -->
        </div>
</div>
<!--  -->
<div class="row mt-2">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right summary-successful">
                                        {{successPercent | toNumber | number:'1.0-0'}}%
                                </div>
                                <p class="summary-card-text">Successful Transactions</p> <br>
                                <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue"></mdb-spinner>
                                <h4 *ngIf="loading == false">
                                        <div *ngIf="isData == true" class="summary-amount">
                                                &#x20A6;{{successAmount | thousandSuff : 2}}</div>
                                        <p *ngIf="isData == true" class="summary-card-text">
                                                {{successCount | thousandSuff }}
                                               <br>Transactions</p>
                                </h4>
                                <strong class="summary-noData" *ngIf="isData == false">No Data Available</strong>
                        </div>
                </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right summary-failed">{{failedPercent | toNumber | number:'1.0-0'}}%
                                </div>
                                <p class="summary-card-text">Failed Transactions</p> <br>
                                <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue"></mdb-spinner>
                                <h4 *ngIf="loading == false">
                                        <div *ngIf="isData == true" class="summary-amount">
                                                &#x20A6;{{failedAmount | thousandSuff : 2 }}</div>
                                        <p *ngIf="isData == true" class="summary-card-text">
                                                {{failedCount | thousandSuff }}
                                               <br>Transactions</p>
                                </h4>
                                <strong class="summary-noData" *ngIf="isData == false">No Data Available</strong>
                        </div>

                </div>
        </div>
</div>