<div style="padding-inline: 5rem">
  <div class="container-fluid">
    <div class="row" style="display: flex; justify-content: space-between">
      <div>
        <!-- filter  -->
        <form [formGroup]="searchForm">
          <div class="row">
            <div
              class="col-lg-2 col-md-4 col-sm-6 col-xs-6"
              style="margin-top: -9px"
            >
              <mdb-date-picker
                formControlName="startDate"
                id="startDate"
                placeholder="Start Date"
                [options]="myDatePickerOptions"
              ></mdb-date-picker>
            </div>
            <div
              class="col-lg-2 col-md-4 col-sm-6 col-xs-6"
              style="margin-top: -9px"
            >
              <mdb-date-picker
                formControlName="endDate"
                id="endDate"
                placeholder="End Date"
                [options]="myDatePickerOptions"
              >
              </mdb-date-picker>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
              <select
                class="browser-default custom-select ref"
                (change)="getRef($event)"
              >
                <option value="">Filter By</option>

                <option *ngFor="let Ref of Refs" [value]="Ref">
                  {{ Ref }}
                </option>
              </select>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
              <input
                type="text"
                formControlName="filterValue"
                ngDefaultControl
                [(ngModel)]="filterValue"
              />
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-2">
              <button mdbBtn color="teal" size="sm" (click)="searchDispute()">
                <mdb-icon fas icon="search"></mdb-icon>
                &nbsp;Search
              </button>
              <!-- <button mdbBtn color="teal" size="sm" (click)="exportAsXLSX()">
                <mdb-icon fas icon="download"></mdb-icon>
                &nbsp;Download
              </button> -->
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- transaction table  -->
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" small="true">
            <thead class="trans-head">
              <tr>
                <th class="head" *ngFor="let head of headElements" scope="col">
                  {{ head }}
                </th>
              </tr>
            </thead>
            <tbody>
              <mdb-spinner
                class="loading-screen-icon"
                *ngIf="isLoading"
                spinnerType="big"
                spinnerColor="blue"
              >
              </mdb-spinner>

              <!-- </div> -->
              <!--  -->
              <!-- 
          {
        "id": 32,
        "trackingId": "833260",
        "amount": 15000,
        "accountNumber": null,
        "status": null,
        "agentEmailAddress": "string",
        "disputeStatus": 0,
        "agentCode": "28817963",
        "agentPayviceId": "28817963",
        "transactionReference": "00000009993884775647374637372623",
        "description": null,
        "createdAt": "0001-01-01T00:00:00",
        "requestId": "19682b73085644a7a9f4ae42a0180e",
        "agentType": null,
        "terminal_ID": "0000001122",
        "agentTypeCode": null,
        "customerName": "John Doe",
        "customerAccountNumber": "1234567890",
        "bankCode": "00001",
        "bank": "First Bank",
        "disputeTransactionType": 1,
        "transactionDate": "2020-02-23T00:00:00",
        "logBookImage": "<base64 string>",
        "latitude": 1.19005,
        "longitude": 1.190495
    } -->
              <tr
                (click)="openModal(item)"
                *ngFor="let item of summaryTrans; let i = index"
                style="font-size: small"
              >
                <th scope="row">{{ serial + i }}</th>

                <td>{{ item.customerName }}</td>

                <td>{{ item.customerAccountNumber }}</td>
                <td>{{ item.trackingId }}</td>
                <td>&#x20A6;{{ item.amount }}</td>
                <td>
                  <mdb-badge
                    class="status"
                    [ngClass]="{
                      pending: item.disputeStatus == 0,
                      review: item.disputeStatus == 1,
                      approved: item.disputeStatus == 2,
                      SentToBank: item.disputeStatus == 3,
                      resolved: item.disputeStatus == 4,
                      rejected: item.disputeStatus == 5
                    }"
                  >
                    {{ item.disputeStatus }}</mdb-badge
                  ><br />
                </td>
                <td>{{ item.agentCode }}</td>
                <td>{{ item.bank }}</td>

                <td>{{ item.agentPayviceId }}</td>
                <td>{{ item.transactionReference }}</td>
                <td>{{ item.requestId }}</td>
                <td>{{ item.transactionDate }}</td>

                <!-- <td>
                  &#x20A6;{{ item.amount | number: "1.2-2" }}
                  <p
                    [ngClass]="{
                      cash: item.paymentMethod == 'cash',
                      cards: item.paymentMethod == 'card'
                    }"
                  >
                    {{ item.paymentMethod }}
                  </p>
                </td> -->
                <!-- 
                <td style="color: #828282">{{ item.startDate }}</td> -->
              </tr>
              <strong class="summary-noData" *ngIf="isData == false"
                >No Data Available</strong
              >
            </tbody>
          </table>
          <pagination
            [boundaryLinks]="true"
            [totalItems]="lastPage"
            [itemsPerPage]="perPage"
            [(ngModel)]="currentPage"
            [maxSize]="maxSize"
            (pageChanged)="pageChanged($event)"
            firstText="&laquo;"
            lastText="&raquo;"
          ></pagination>
        </div>
        <br />
        <!-- <div *ngIf="loading == true" style="cursor: wait;"> </div> -->
      </div>
    </div>
  </div>
</div>
