<div class="row mt-5">
  <div class="container">
    <label class="total-trans">Top 5 Channels</label>

    <mdb-card>
      <mdb-card-body>
        <mdb-card-text>
          <table mdbTable striped="true" responsive="true">
            <thead>
              <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
              </tr>
            </thead>
            <tr *ngFor="let item of elements | orderBy: 'total':true ">
              <th class="id" scope="row">{{item.title}}</th>
              <td class="success">{{item.success | thousandSuff : 2}}</td>
              <td class="fail">{{item.fail | thousandSuff : 2 }}</td>
              <td class="total">{{item.total | thousandSuff : 2}}</td>
            </tr>
            </tbody>
            <tbody *ngIf="loading">
              <tr>
                <td style="text-align:center;padding: 5% 20%; background: #fff">
                  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isData == false">
              <tr>
                <td class="noData">
                  <strong>No Data Available</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </mdb-card-text>

      </mdb-card-body>
    </mdb-card>
  </div>

</div>