<div class="row">
                <!-- first card -->
                <div class="col-sm-4 mb-3 mb-md-0">
                        <div class="card classic-admin-card">
                                <div class="card-body">
                                        <!-- <div class="pull-right successful"></div> -->
                                        <p class="card-text">This Year</p> <br>
                                        <mdb-spinner *ngIf="loading == true" spinnerColor="blue"></mdb-spinner>
                                        <h4>
                                                <div class="pull-right">&#x20A6;{{thisYearTotal?.data.amount | thousandSuff : 2}}</div>
                                                <p class="card-text"> {{thisYearTotal?.data.count | thousandSuff  }}<br>Transactions</p>
                                        </h4>
                                </div>
                        </div>
                </div>
                <!-- first card -->
        
                <!-- second card -->
                <div class="col-sm-4">
                        <div class="card classic-admin-card">
                                <div class="card-body">
                                        <div class="pull-right successful">{{thisYearSuccess?.data.count / thisYearTotal?.data.count | percent:'2.1-2'}} </div>
                                        <p class="card-text">Total Successful</p> <br>
                                        <mdb-spinner *ngIf="loading == true" spinnerColor="blue"></mdb-spinner>
                                        <h4>
                                                <div class="pull-right">&#x20A6;{{thisYearSuccess?.data.amount | thousandSuff : 2}}</div>
                                                <p  class="card-text">{{thisYearSuccess?.data.count | thousandSuff }}<br>Transactions</p>
                                        </h4>
                                </div>
                        </div>
                </div>
                <!-- second card -->
        
                <!-- third card -->
                <div class="col-sm-4">
                        <div class="card classic-admin-card">
                                <div class="card-body">
                                        <div class="pull-right failed">{{thisYearFailed?.data.count / thisYearTotal?.data.count | percent:'1.1-2'}}</div>
                                        <p class="card-text">Total Failed</p> <br>
                                        <mdb-spinner *ngIf="loading == true" spinnerColor="blue"></mdb-spinner>
                                        <h4>
                                                <div class="pull-right"> &#x20A6;{{thisYearFailed?.data.amount | thousandSuff : 2 }}</div>
                                                <p  class="card-text">{{thisYearFailed?.data.count | thousandSuff }}<br>Transactions</p>
                                        </h4>
                                </div>
        
                        </div>
                </div>
                <!-- third card -->
        </div>