.margin-top{
    margin-top: 30vh;
  }
  .loading-height{
    height: 70px;
  }
  .center{
    text-align: center;
  }
  .head {
    font-weight: 600 !important;
  }
  .card .card-body {
    padding: 7px;
  }
  

  label {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #828282;
  }
  mdb-date-picker {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-right: -4px;
    font-weight: 400;
    font-size: 14px;
    background: white;
    padding: 10px;
  }
  
  .badges-custom{
    border-radius: 50%;
    position: relative;
    left: -53px;
    top: -4px;
    height: 35px;
    width: 35px;
  }

  .badges-custom >span{
    top: 7px;
    position: relative;
  }

  .badge-content{
    border-radius: 50%;
    position: relative;
    left: -25px;
    top: -4px;
  }
  .badge-side{
    border-radius: 50%;
    position: relative;
    left: -10px;
    top: -1px;
    width: 30px;
    height: 30px;
  }
.list-group > li{
  background: #f2f2f2;
  margin-bottom: 7px !important;
  width: 98%;
  margin: 0 auto;;
}
 