<div class="container-fluid">
  <div class="col-md-12" style="padding: 20px;">
    <label>Error Analysis</label>
    <!-- Filters -->
    <form [formGroup]="searchForm">
      <!-- Second row -->
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" style="margin-top: -9px;">
          <mdb-date-picker formControlName="startDate" id="startDate" placeholder="Start Date"
            [options]="myDatePickerOptions"></mdb-date-picker>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" style="margin-top: -9px;">
          <mdb-date-picker formControlName="endDate" id="endDate" placeholder="End Date"
            [options]="myDatePickerOptions">
          </mdb-date-picker>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
          <button type="button" mdbBtn color="primary" (click)="searchTrans()" mdbWavesEffect>
            <mdb-icon fas icon="search"></mdb-icon> Filter
          </button>

        </div>
      </div>


    </form>

    <div class="row">
      <div class="col-12">
        <!-- Error Analysis Details -->
        <div class="card" style="padding-bottom: 120px;;">
          <div class="card-body">

            <div style="display: block">
              <canvas mdbChart
                  [chartType]="chartType"
                  [datasets]="chartDatasets"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [legend]="true"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
              </canvas>
            </div>
            
      

          </div>
        </div>

      </div>

    </div>
  </div>


</div>