<div class="row">

    <!-- first card -->
    <div class="col-sm-4 mb-3 mb-md-0">
            <div class="card classic-admin-card">
                    <div class="card-body">
                            <div class="pull-right successful">
                                    +34%
                                   </div>
                                   <p class="white-texts">Today</p> <br>
                                   <h4>
                                        <div class="pull-right">
                                                &#x20A6;100k  </div>
                                       <p> 33k <br>Transactions</p>
                                       
                                   </h4>
                    </div>
                </div>
    </div>
    <!-- first card -->


    <!-- second card -->
    <div class="col-sm-4">
            <div class="card classic-admin-card">
                    <div class="card-body">
                            <div class="pull-right successful">
                                    +34%
                                   </div>
                                   <p class="white-texts">Total Successful</p> <br>
                                   <h4>
                                        <div class="pull-right">
                                                &#x20A6;100k  </div>
                                       <p> 33k <br>Transactions</p>
                                       
                                   </h4>
                    </div>
                </div>
    </div>
    <!-- second card -->

    <!-- third card -->
    <div class="col-sm-4">
            <div class="card classic-admin-card">
                    <div class="card-body">
                            <div class="pull-right failed">
                                    -34%
                                   </div>
                                   <p class="white-texts">Total Failed</p> <br>
                                   <h4>
                                        <div class="pull-right">
                                                &#x20A6;100k  </div>
                                       <p> 33k <br>Transactions</p>
                                       
                                   </h4>
                    </div>
                </div>
          </div>
    <!-- third card -->
  </div>


  <!-- next row -->
  <div class="row mt-2">

        <!-- first card -->
        <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right failed">
                                        -34%
                                       </div>
                                       <p class="white-texts">Yesterday</p> <br>
                                       <h4>
                                            <div class="pull-right">
                                                &#x20A6;100k  </div>
                                           <p>33k <br>Transactions</p>
                                           
                                       </h4>
                        </div>
                    </div>
        </div>
        <!-- first card -->
    
    
        <!-- second card -->
        <div class="col-sm-4">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right successful">
                                        +34%
                                       </div>
                                       <p class="white-texts">Total successful</p> <br>
                                       <h4>
                                            <div class="pull-right">
                                                &#x20A6;100k  </div>
                                           <p> 33k <br>Transactions</p>
                                           
                                       </h4>
                        </div>
                    </div>
        </div>
        <!-- second card -->
    
        <!-- third card -->
        <div class="col-sm-4">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right failed">
                                        -34%
                                       </div>
                                       <p class="white-texts">Total Failed</p> <br>
                                       <h4>
                                            <div class="pull-right">
                            &#x20A6;100k  </div>
                                           <p> 33k <br>Transactions</p>
                                           
                                       </h4> 
                        </div>
                    </div>
              </div>
        <!-- third card -->
      </div>


      <!-- box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
      height: 115px !important; -->