<div class="row mt-2">
        <!-- first card -->
        <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <!-- <div class="pull-right successful">{{lastWeekSuccess.data.count/lastWeekSuccess.data.count + thisWeekSuccess.data.count * 100}}</div> -->
                                <p class="card-text">Last Week</p> <br>
                                <mdb-spinner *ngIf="loading == true" spinnerColor="blue"></mdb-spinner>
                                <h4>
                                        <div class="pull-right">&#x20A6;{{lastWeekTotal?.data.amount | thousandSuff : 2}}
                                        </div>
                                        <p class="card-text">
                                                {{lastWeekTotal?.data.count | thousandSuff  }}<br>Transactions</p>
                                </h4>
                        </div>
                </div>
        </div>
        <!-- first card -->

        <!-- second card -->
        <div class="col-sm-4">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right successful">
                                        {{lastWeekSuccess?.data.count / lastWeekTotal?.data.count | percent:'2.1-2'}}
                                </div>
                                <p class="card-text">Total Successful</p> <br>
                                <mdb-spinner *ngIf="loading == true" spinnerColor="blue"></mdb-spinner>
                                <h4>
                                        <div class="pull-right">
                                                &#x20A6;{{lastWeekSuccess?.data.amount | thousandSuff : 2}}</div>
                                        <p class="card-text">
                                                {{lastWeekSuccess?.data.count | thousandSuff }}<br>Transactions</p>
                                </h4>
                        </div>
                </div>
        </div>
        <!-- second card -->

        <!-- third card -->
        <div class="col-sm-4">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right failed">
                                        {{lastWeekFailed?.data.count / lastWeekTotal?.data.count | percent:'1.1-2'}}</div>
                                <p class="card-text">Total Failed</p> <br>
                                <mdb-spinner *ngIf="loading == true" spinnerColor="blue"></mdb-spinner>
                                <h4>
                                        <div class="pull-right">
                                                &#x20A6;{{lastWeekFailed?.data.amount | thousandSuff : 2 }}</div>
                                        <p class="card-text">
                                                {{lastWeekFailed?.data.count | thousandSuff }}<br>Transactions</p>
                                </h4>
                        </div>

                </div>
        </div>
        <!-- third card -->
</div>