<!-- <mdb-tabset class="tab-pil" [buttonClass]="'pills-indigo'" [contentClass]="'mdb-tabse'">

  <mdb-tab heading="Day">
    <app-day-card></app-day-card>
  </mdb-tab>


  <mdb-tab heading="Week">
    <app-week-card></app-week-card>
  </mdb-tab>


  <mdb-tab heading="Month">
    <app-month-card></app-month-card>
  </mdb-tab>
</mdb-tabset> -->

<div class="card" id="profile-main">
  
    <div class="pm-body clearfix" style="padding-left: 0px">
        <ul class="tab-nav tn-justified">
            <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"  class="waves-effect"><a [routerLink]="['/wallet/settings']" >About</a></li> -->
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="waves-effect"><a [routerLink]="['/admin-dashboard/day']" >Day</a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="waves-effect"><a [routerLink]="['/admin-dashboard/week']">Week</a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="waves-effect"><a [routerLink]="['/admin-dashboard/month']" >Month</a></li>
        </ul>

        <router-outlet></router-outlet>
        
    </div>
</div>