<div *ngIf="isAuthenticated()">

  <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav"
  [containerInside]="false">

  <navlinks class="navbar-container">
    <!-- SideNav slide-out button -->
    <div class="float-left">
      <!-- <a class="button-collapse"> -->
        <img src="./assets/ItexLogo.png" class="logo-image">

      <!-- </a> -->
    </div>
    <!--/. SideNav slide-out button -->
  </navlinks>

  <mdb-navbar-brand>
    <!-- Breadcrumb-->
    <div class="breadcrumbs breadcrumb-dn mr-auto nav-body-dropdown">
       Dashboard | Summary View
    </div>
    <!--/. Breadcrumb-->
  </mdb-navbar-brand>

  <navlinks>
    <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">

      <!-- <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="user"></mdb-icon> <span
          class="clearfix d-none d-sm-inline-block">Users</span></a>
      </li> -->
      <li *appHasRole="['5']" class="nav-item dropdown btn-group" dropdown routerLinkActive="active">
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light nav-body-dropdown" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Users
        </a>
        <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
          <a *appHasRole="['5']" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/register']">Create
            User</a>
          <a *appHasRole="['5']" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/users']">View
            Users</a>
        </div>
      </li>
      <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light nav-body-dropdown" mdbWavesEffect>
       {{ userDisplayName }}
        </a>
        <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
          <a (click)="logout()" class="dropdown-item">Log Out</a>

        </div>
      </li>
    </ul>
  </navlinks>
</mdb-navbar>
  
  <div class="area"></div><nav class="main-menu">
    <ul>
        <li>
            <a href="/admin-dashboard/day">
              <img src="../../../../assets/nav-assets/noun_dashboard.svg"> &nbsp; &nbsp;
              <!-- <div class="nav-text">Dashboard</div> -->
                <span class="nav-text">
                    Dashboard
                </span>
            </a>
          
        </li>
        <li class="has-subnav mt-3">
            <a href="transaction/details">
              <img src="../../../../assets/nav-assets/noun_transaction.svg"> &nbsp; &nbsp;
              <br>
                <span class="nav-text">
                    Transactions
                </span>
            </a>
            
        </li>
        <!-- <li class="has-subnav mt-3">
            <a href="/admin-dashboard/day">
               <i class="fa fa-list fa-2x"></i>
               
                <span class="nav-text">
                  Status
                </span>
            </a>
            
        </li> -->
        <li class="has-subnav mt-3">
            <a href="agency/banking">
              <img src="../../../../assets/nav-assets/noun_banking.svg"> &nbsp; &nbsp; &nbsp;
                <span class="nav-text">
                  Agency Banking
                </span>
            </a>
           
        </li>
        <li class="has-subnav mt-3">
            <a href="error/analysis">
              <img src="../../../../assets/nav-assets/noun_Risk analysis.svg"> &nbsp; &nbsp;
                <span class="nav-text">
                  Error Analysis
                </span>
            </a>
        </li>
        <li class="has-subnav mt-3">
            <a href="#">
              <img src="../../../../assets/nav-assets/noun_Online Payment.svg"> &nbsp; &nbsp;
                <span class="nav-text">
                  MCASH (USSD)
                </span>
            </a>
        </li>
        <!-- <li class="has-subnav mt-3">
           <a href="#">
               <i class="fa fa-table fa-2x"></i>
                <span class="nav-text">
                  CGATE
                </span>
            </a>
        </li> -->
        <li class="has-subnav mt-3">
           <a href="#">
            <img src="../../../../assets/nav-assets/noun_Nip.svg"> &nbsp; &nbsp;
                <span class="nav-text">
                  NIP
                </span>
            </a>
        </li>
        <li class="has-subnav mt-3">
            <a href="#">
            <img src="../../../../assets/nav-assets/noun_turnover.svg"> &nbsp; &nbsp;
                <span class="nav-text">
                  Onboarding
                </span>
            </a>
        </li>
        <li class="has-subnav mt-3">
          <a href="#">
          <img src="../../../../assets/nav-assets/noun_qr.svg"> &nbsp; &nbsp;
              <span class="nav-text">
                NQR
              </span>
          </a>
      </li>
      <li class="has-subnav mt-3">
        <a href="#">
        <img src="../../../../assets/nav-assets/noun_Settings.svg"> &nbsp; &nbsp;
            <span class="nav-text">
              Settings
            </span>
        </a>
    </li>
    </ul>
  
  </nav>
</div>
