<mdb-breadcrumb customClass="white-text brown darken-2">
    <mdb-breadcrumb-item > <i class="fa fa-group"></i>  Create New Feed</mdb-breadcrumb-item>
  </mdb-breadcrumb>
  
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-12 col-md-12">
      <!--Card-->
      <div class="card card-cascade narrower">
        <!--Card image-->
        <div class="view view-cascade gradient-card-header green-gradient">
          <h4 class="h4-responsive">Please fill all fields marked with an asterix (*)</h4>
        </div>
        <!--/Card image-->
          <!--Card content-->
          <div class="card-body card-body-cascade">
  
              <div class="row">
               
                <div class="col-lg-12 col-md-12">
                  <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="text" id="title" [(ngModel)]="title" class="form-control" mdbInputDirective>
                    <label for="title">* Title</label>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="md-form">
                      <label>Message</label>
                      <ckeditor [editor]="Editor" [(ngModel)]="model.editorData" name="model.editorData"></ckeditor>
                  </div>
                </div>
              </div>
  
              <!-- <div class="row">
                  <div class="col-lg-4 col-md-4">
                    <div class="md-form">
                      <i class="fa fa-envelope prefix grey-text"></i>
                      <input type="text" id="imgUrl" [(ngModel)]="imgUrl" class="form-control" mdbInputDirective>
                      <label for="imgUrl">imgUrl</label>
                    </div>
                  </div>
                
                </div> -->
              <div class="text-center">
                <button mdbBtn class="btn  waves-light" rounded="true" color="dark-green" mdbWavesEffect (click)="doRegister()">SUBMIT</button>
              </div>
           
          </div>
          <!--/.Card content-->
      </div>
      <!--/.Card-->
    </div>
    <!--Grid column-->
  </div>
 