<div class="row">
        <div class="col-12">
                <!-- first card -->
                <label class="total-trans">This Week</label>
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right" [ngClass]="{
                                        'successful' : totalPercent > 0,
                                        'failed' : totalPercent < 0
                                     }">{{ totalPercent | toNumber | number:'1.0-0'}}%</div>
                                <p class="card-text total-trans">Total Transactions</p> <br>
                                <mdb-spinner *ngIf="loading" spinnerColor="blue"></mdb-spinner>
                              
                                <h4 *ngIf="loading == false">
                                        <div *ngIf="isData == true" class="pull-right">
                                                &#x20A6;{{totalAmount | thousandSuff : 2}}</div>
                                        <p *ngIf="isData == true" class="card-text"> {{ totalCount | thousandSuff }}
                                                &nbsp; Transactions</p>
                                </h4>
                                <strong class="noData" *ngIf="isData == false">No Data Available</strong>
                        </div>
                </div>

                <!-- first card -->
        </div>
</div>
<!--  -->
<div class="row mt-2">
        <div class="col-6">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right successful">{{successPercent | toNumber | number:'1.0-0'}}%
                                </div>
                                <p class="card-text">Successful Transactions</p> <br>
                                <mdb-spinner *ngIf="loading" spinnerColor="blue"></mdb-spinner>
                                <h4 *ngIf="loading == false">
                                        <div *ngIf="isData == true" class="pull-right">
                                                &#x20A6;{{successAmount | thousandSuff : 2}}</div>
                                        <p *ngIf="isData == true" class="card-text">{{successCount | thousandSuff }}
                                                &nbsp;Transactions</p>
                                </h4>
                                <strong class="noData" *ngIf="isData == false">No Data Available</strong>
                        </div>
                </div>
        </div>

        <div class="col-6" style="padding-left: 0px;">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right failed">{{failedPercent | toNumber | number:'1.0-0'}}%
                                </div>
                                <p class="card-text">Failed Transactions</p> <br>
                                <mdb-spinner *ngIf="loading" spinnerColor="blue"></mdb-spinner>
                                <h4 *ngIf="loading == false">
                                        <div *ngIf="isData == true" class="pull-right">
                                                &#x20A6;{{failedAmount | thousandSuff : 2 }}</div>
                                        <p *ngIf="isData == true" class="card-text">{{failedCount | thousandSuff }}
                                                &nbsp;Transactions</p>
                                </h4>
                                <strong class="noData" *ngIf="isData == false">No Data Available</strong>
                        </div>

                </div>
        </div>
</div>