<!-- <div class="container"> -->
<div class="row">
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
      <mdb-select [options]="channels" placeholder="Channel"></mdb-select>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
      <mdb-select [options]="Type" placeholder="Type"></mdb-select>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
      <mdb-select [options]="products" placeholder="Product"></mdb-select>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
      <mdb-select [options]="method" placeholder="Method"></mdb-select>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
      <mdb-select [options]="vendors" placeholder="Vendor"></mdb-select>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
      <mdb-select [options]="vendType" placeholder="Vend-Type"></mdb-select>
  </div>
</div>
<!-- Second row -->
<div class="row">
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
      <mdb-select [options]="status" placeholder="Status"></mdb-select>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
      <mdb-select [options]="optionsSelect" placeholder="Start Date"></mdb-select>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
      <mdb-select [options]="optionsSelect" placeholder="End Date"></mdb-select>
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <mdb-select [options]="Ref" placeholder="Ref Number" class="ref"></mdb-select>
      <input  type="text">
      <button class="btn btn-primary" mdbWavesEffect><mdb-icon fas icon="search"></mdb-icon>
            Search
          </button>
  </div>

  <!-- <div class="col-lg-2 col-md-4 col-sm-2 col-xs-6">
        <mdb-select [options]="Ref" placeholder="Ref Number" class="ref"></mdb-select>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-2 col-xs-6">
        <input  placeholder="Placeholder" type="text">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-2 col-xs-6">
        <button class="btn btn-primary" mdbWavesEffect>
          Search
        </button>
    </div> -->

</div>
<!-- </div> -->