<!-- Nav tabs -->
<mdb-tabset [buttonClass]="'pills-indigo white mb-2'" [contentClass]="'card'">
    <!--Panel 1-->
    <mdb-tab heading="Daily">
        <app-stats-card></app-stats-card>
    </mdb-tab>
    <!--Panel 2-->
    <mdb-tab heading="Weekly">
      <!-- <app-stats-card></app-stats-card> -->
      Weekly works
    </mdb-tab>
    <!--Panel 3-->
    <mdb-tab heading="Monthly">
            <app-chart1></app-chart1>
    </mdb-tab>
    <mdb-tab heading="Yearly">
        <!-- <app-stats-card></app-stats-card> -->
        Yearly works
    </mdb-tab>
  </mdb-tabset>