<!-- Asvanced search -->
<!-- <div class="row">
    <div class="col-4">
      col-8
    </div>
    <div class="col-4">
        <mdb-select [options]="optionsSelect" placeholder="Choose your option"></mdb-select>
        
    </div>
    <div class="col-4">
        <label>Advanced Search</label>
      </div>
  </div> -->

<!-- Nav tabs -->
<div>
  <mdb-tabset [buttonClass]="'pills-indigo'" [contentClass]="'mdb-tabse'">
    <!--Panel 1-->
    <mdb-tab heading="Daily">
          <app-today-card></app-today-card>
          <app-yesterday-card></app-yesterday-card>
          <!-- <app-chart1></app-chart1>  -->
    </mdb-tab>
    <!--Panel 2-->
    <mdb-tab heading="Weekly">
      <!-- <app-this-week-card></app-this-week-card>
      <app-last-week-card></app-last-week-card> -->
    </mdb-tab>
    <!--Panel 3-->
    <mdb-tab heading="Monthly">
      <!-- <app-this-month-card></app-this-month-card>
      <app-last-month-card></app-last-month-card> -->
    </mdb-tab>
    <mdb-tab heading="Yearly">
      <!-- <app-this-year-card></app-this-year-card>
      <app-last-year-card></app-last-year-card> -->
    </mdb-tab>
  </mdb-tabset>
</div>

