.total-trans{
    font-family: Ubuntu !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 24px !important;
    line-height: 28px !important;
    letter-spacing: 0.05em !important;
    color: #002035 !important;
}
th{
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.05em;
color: #000000;
}
.fail{
    color: #D80027 !important;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.success{
    color: #219653 !important;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.total{
    color: black !important;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;  
}
.id{
    color: black !important;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.hh{
    background: #F2F2F2;
border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 2px;
}