<div *ngIf="loggedIn()">
    <mdb-navbar SideClass="navbar  fixed-top navbar-toggleable-md navbar-expand-lg navbar-dark white ie-nav"
        [containerInside]="false">


        <mdb-navbar-brand>
            <img src="./assets/ItexLogo.png" style="width: 78px; height: 30px; padding-left: 16px;">
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light nav-body" routerLinkActive="active" mdbWavesEffect>
                    <a class="nav-link" [routerLink]="['/admin-dashboard']">Dashboard</a>
                </li>
                <li class="nav-item waves-light nav-body" routerLinkActive="active" mdbWavesEffect>
                    <a class="nav-link" [routerLink]="['/transaction']">Transaction</a>
                </li>
            </ul>

            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item dropdown btn-group" dropdown>
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light nav-body-dropdown"
                        mdbWavesEffect>
                        Hi
                        <!-- Hi {{authService.decodedToken.name}} -->
                    </a>
                    <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="#">Create User</a>
                        <!-- <button>hi</button> -->
                        <a (click)="logout()" class="dropdown-item">Log Out</a>
                    </div>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</div>