<div class="container">
    <ul class="nav lighten-4 py-4">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin-dashboard/day']">Day</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="tabs nav-link" [routerLink]="['/admin-dashboard/week']">Week</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/admin-dashboard/month']">Month</a>
        </li>
    </ul>


<div class="row mt-1">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <app-this-week-card></app-this-week-card>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left: 3px">
      <app-last-week-card></app-last-week-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <app-this-week-channels></app-this-week-channels>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <app-this-week-product></app-this-week-product>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <app-this-week-payment-method></app-this-week-payment-method>
    </div>
  </div>
  </div>