.card{
    border: 0.30000001192092896px solid #EDE9F4;
border-radius: 8px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.dash-card{
    box-shadow: 0px 3px 20px #0000001F !important;
}
.day-label{
    // text-align: left;
font-size: 14px;
letter-spacing: 0px;
color: #183879;
opacity: 1;
font-weight: 500;
}
.date-label{
    // text-align: left;
    font: normal normal normal 14px/17px;
    letter-spacing: 0px;
    color: #898888;
    opacity: 1;
    font-size: 11px;
}
.total-amt{
    font: normal normal normal 37px/53px;
letter-spacing: 0px;
color: #183879;
font-weight: 600;
font-size: 28px;
}
.total-count{
letter-spacing: 0px;
color: #80A5D0;
opacity: 1;
font-size: 12px;
}
.fail-label{
letter-spacing: 0px;
color: #909090;
opacity: 1;
font-size: 13px;
}
.fail-amt{
font: normal normal normal 23px/33px ;
letter-spacing: 0px;
color: #229654;
opacity: 1;
font-weight: 600;
}

.vs-label{
    font: normal normal normal 18px/22px;
letter-spacing: 0px;
color: #4D5155;
opacity: 1;
font-style: normal;
}
.previous-label{
    font-size: 11px;
letter-spacing: 0px;
color: #152C5B;
font-size: 11px;
margin-bottom: -7px;
}
.previous-date{
    font-size: x-small;
    color: #909090;
    font-style: normal;

}
.vl{
    border-left: 1px solid #707070;
    height: 82px;
    position: absolute;
    left: 50%;
}
.top-label{
    letter-spacing: 0px;
color: #848484;
opacity: 1;
font-size: 13px;
}
.custom-select {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 9rem;
    padding-right: -4px;
    height: 33px;
    padding-left: 12px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    background-color: #EDE9F4;
  }
.next-btn{
    border: 1px solid #95C5ED;
    color: #95C5ED;
    font-weight: bold;
    border-radius: 50%;
}
.next-title{
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}
mdb-date-picker {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-right: -4px;
    font-weight: 400;
    font-size: 14px;
    background: white;
    padding: 10px;
    width: 30%;
  }
  .save {
    background: #2f80ed;
    height: 31px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    margin-left: -4px;
    width: 81px !important;
    border-radius: 5px;
 margin-top: 26px;;
    cursor: pointer;
  }