<div class="modal-header">
    <h4 class="modal-title pull-left">Transaction Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul *ngIf="list.length">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Category
              <!-- <mdb-badge pill="true" primary="true">14</mdb-badge> -->
              <!-- {{data.name}} -->
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
            Terminal ID
              <mdb-badge pill="true" primary="true">14</mdb-badge>
             
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
            Agent ID
              <mdb-badge pill="true" primary="true">14</mdb-badge>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
             Type
                <mdb-badge pill="true" primary="true">14</mdb-badge>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
          Location Of Request
                <mdb-badge pill="true" primary="true">14</mdb-badge>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
              Reference
                <mdb-badge pill="true" primary="true">14</mdb-badge>
              </li>
          </ul>
    </ul>

    <!-- <table mdbTable>
        <tbody>
          <tr mdbTableCol >
            <th scope="row">gg</th>
            <td>dd</td>
            <td>dff</td>
            <td>ff</td>
          </tr>
        </tbody>
      </table> -->

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>