.list-group-item {
    position: relative;
    display: none;
    background-color: #fff;
    border: none;
}
.trans-category{
    font-size: 11px ;
    color: darkgray;
    margin-top: -2em !important;
    }

.modal-tit{
    font-size: 14px;
}

// @media (min-width: 1200px){
//     // .container {
//     //     max-width: 1140px;
//     // }
//     .modal-dialog .modal-content{
//         width: 1140px;
//         margin-left: -11rem;
//         border-radius: 10px;
//       }
// }

// @media (min-width: 992px) {
//     // .container {
//     //     max-width: 960px;
//     // }
//     .modal-dialog .modal-content{
//         width: 960px;
//         margin-left: -11rem;
//         border-radius: 10px;
//       }
// }

// @media (min-width: 768px) {
//     // .container {
//     //     max-width: 720px;
//     // }
//     .modal-dialog .modal-content{
//         width: 720px;
//         margin-left: -11rem;
//         border-radius: 10px;
//       }
// }

// @media (min-width: 576px) {
//     // .container {
//     //     max-width: 540px;
//     // }
//     .modal-dialog .modal-content{
//         width: 540px;
//         margin-left: -11rem;
//         border-radius: 10px;
//       }
// }
