.card.card-cascade .view.gradient-card-header {
    padding: 1rem 1rem;
    text-align: center;
}
.card.card-cascade h3, 
.card.card-cascade h4, 
{
margin-bottom: 0px;
}

.label{
    color: #757575;
    font-size: 1rem;
    
}
.table-wrapper {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #4285f4);
}
.green-gradient {
    background: -webkit-linear-gradient(50deg, #2BBBAD, #00695c);
    background: linear-gradient(40deg, #2BBBAD, #00695c);
}
.table-ui {
    border: 1px solid #e0e0e9;
}