.chart-row{
    margin: -6px;
    width: 366px;
    height: 144px;
    padding-left: 56px;
    padding-right: 44px;
    background: #F2F2F2;
    border: 1px solid #BDBDBD;
}

canvas{
    margin-top: 12px;
}

.top-head{
    font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 500;
// font-size: 12px;
// line-height: 14px;
letter-spacing: 0.05em;
color: #333333;
}
