<div class="row mt-2">
        <!-- first card -->
        <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right successful">+20%</div>
                                <p class="card-text">Last Month</p> <br>
                                <h4>
                                                <mdb-spinner *ngIf="loading" spinnerColor="blue"></mdb-spinner>
                                        <div class="pull-right">&#x20A6;{{lastMonthTotal.data.amount | thousandSuff : 2}}</div>
                                        <p class="card-text"> {{lastMonthTotal.data.count | thousandSuff : 2}}<br>Transactions</p>
                                </h4>
                        </div>
                </div>
        </div>
        <!-- first card -->

        <!-- second card -->
        <div class="col-sm-4">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right successful">-2% </div>
                                <p class="card-text">Total Successful</p> <br>
                                <h4>
                                                <mdb-spinner *ngIf="loading" spinnerColor="blue"></mdb-spinner>
                                        <div class="pull-right">&#x20A6;{{lastMonthSuccess.data.amount | thousandSuff : 2}}</div>
                                        <p class="card-text">{{lastMonthSuccess.data.count | thousandSuff : 2}}<br>Transactions</p>
                                </h4>
                        </div>
                </div>
        </div>
        <!-- second card -->

        <!-- third card -->
        <div class="col-sm-4">
                <div class="card classic-admin-card">
                        <div class="card-body">
                                <div class="pull-right failed">33%</div>
                                <p class="card-text">Total Failed</p> <br>
                                <h4>
                                                <mdb-spinner *ngIf="loading" spinnerColor="blue"></mdb-spinner>
                                               
                                        <div class="pull-right"> &#x20A6;{{lastMonthFailed.data.amount | thousandSuff : 2}}</div>
                                        <p class="card-text">{{lastMonthFailed.data.count | thousandSuff : 2}}<br>Transactions</p>
                                </h4>
                        </div>
                </div>
        </div>
        <!-- third card -->
</div>