.trans-category{
    font-size: 11px ;
    color: darkgray;
    }

.modal-tit{
    font-size: 14px;
}
.vas-address{
    float: right; 
    margin-left: 7rem;
    margin-top: -23px;
    margin-bottom: 9px;
}

