<div class="modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-12">
          <h4>{{data.name}}</h4>
          <br>
          <div class="trans-catergory" style="margin-top: -2em;">
            {{data.category}}
          </div>
        </div>
      </div>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="modal-tit">
            Product details
          </div>
          <div class="details mt-2">
            Terminal ID:
            <strong style="float: right">{{data.terminal}}</strong>
          </div>
          <div class="details mt-2">
            Agent ID:
            <strong style="float: right;">{{data.wallet}}</strong>
          </div>
          <br>
          <div class="modal-tit">
            Customer Details
          </div>
          <div class="details mt-2">
            Name:
            <strong  class="vas-address">{{data.VASCustomerName}}</strong>
          </div>
          <div class="details mt-2">
            Phone Number:
            <strong style="float: right">{{data.VASCustomerPhone}}</strong>
          </div>
          <div class="details mt-2">
            Account Number:
            <strong style="float: right">{{data.VASCustomerAccount}}</strong>
          </div>
          <div class="details mt-2">
            Address:
            <strong class="vas-address">{{data.VASCustomerAddress}}</strong>
          </div>
          <br>
          <div class="modal-tit">
            Transaction Details
          </div>
          <div class="details mt-2">
            AuthCode:
            <strong style="float: right">{{data.transactionAuthCode}}</strong>
          </div>
          <div class="details mt-2">
            STAN:
            <strong style="float: right">{{data.transactionSTAN}}</strong>
          </div>
          <div class="details mt-2">
            RRN:
            <strong style="float: right">{{data.transactionRRN}}</strong>
          </div>
          <div class="details mt-2">
            Provider Name:
            <strong style="float: right">{{data.VASProviderName}}</strong>
          </div>
          <div class="details mt-2">
              Ref:
              <strong style="float: right">{{data.reference}}</strong>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div>
            Biller Name:
            <strong style="float: right">{{data.VASBillerName}}</strong>
          </div>
          <div class="moda mt-2">
            Depositor Name:
            <strong style="float: right">{{data.VASDepositorName}}</strong>
          </div>
          <div class="moda mt-2">
            Type:
            <strong style="float: right">{{data.type}}</strong>
          </div>
          <div class="moda mt-2">
            Channel:
            <strong style="float: right">{{data.channel}}</strong>
          </div>
          <div class="moda mt-2">
            Sequence:
            <strong style="float: right">{{data.sequence}}</strong>
          </div>
          <div class="moda mt-2">
            Card-PAN:
            <strong style="float: right">{{data.cardPAN}}</strong>
          </div>
          <div class="moda mt-2">
            Message:
            <strong style="float: right">{{data.message}}</strong>
          </div>
          <div class="moda mt-2">
            Commission:
            <strong style="float: right">{{data.commission}}</strong>
          </div>
        </div>
      </div>

    </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Close</button>
    </div>
  </div>
</div>