<div class="container-fluid" style="display: flex; justify-content: center; align-items: center;">
  <div id="newUser" class="col-md-12 ">

    <form name="newUser" class="register">
      <div class="row" style="justify-content: center;">
        <div>
          <h1>NQR ONBOARDING FORM</h1>
        </div>
        <br>
        <div class="ml-2" style="text-align: center;">
          <img class="img-fluid" src="../../../assets/qr-code (1).svg" style="width: 20%;" />
        </div>
        <br>
      </div>
      <div class="container">
        <div class="col-md-12 mt-2">
          <h3 style="font-size: 1.2rem;">Upload Merchant File</h3>
        </div>

        <form #form=ngForm *ngIf="!fileArray">
          <div class="col-lg-3 col-sm-3 p-0 file-path-wrapper">
            <input type="file" (change)="addfile($event)" style="border: none;"
              accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            <!-- <input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file"
          > -->
            <br> <br>
          </div>


          <div class="pb-4">

            <button type="button" download class="btn" style="text-transform: none; border: 1px solid; border-radius: 8px;
    padding: 8px 10px;
    color: black;"
              href="../../../../assets/bulk_agents_upload_nqr.xlsx">Download
              Sample</button>
            <button (click)="displayfiles()" type="button" class="btn btn-primary" mdbWavesEffect
              style="text-transform: none;border-radius: 8px;
    padding: 8px 10px;
    ">Upload</button>

          </div>
        </form>
        <div class="card mb-3" style="border-color: teal;" *ngIf="fileArray">
          <div class="mt-2" style="display: flex;justify-content: flex-end;">

            <button type="button" class="waves-light btn" mdbWavesEffect (click)="clear()">Clear</button>
            <br>


            <button type="button" class="btn btn-primary" mdbWavesEffect (click)="confirm()">{{loading ?
              'Creating' : 'Create' }} &nbsp;<i class="fa "
                [ngClass]="{'spinner-border spinner-border-sm':loading==true}"></i></button>

          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table class="table table-hover" small="true">
                <thead class="trans-head">
                  <tr>
                    <th class="head" *ngFor="let head of headElements" scope="col"
                      style="color: rgb(64, 107, 153); text-align: center;white-space: nowrap;">
                      {{head}}
                    </th>
                  </tr>
                </thead>
                <tbody>


                  <tr *ngFor="let row of fileArray let index = index">
                    <th style="text-align: center;" scope="row">{{serial + index}}</th>
                    <td style="text-align: center;">{{row.wallet}}
                    </td>
                    <td style="text-align: center; ">{{row.name}}</td>
                    <td style="text-align: center; line-break: anywhere;">{{row.email}}</td>
                    <td style="text-align: center; line-break: anywhere;">{{row.phoneNumber}}</td>

                    <td style="text-align: center; line-break: anywhere;">{{row.isFixedAmount}}</td>
                    <td style="text-align: center; line-break: anywhere;">{{row.amount}}</td>



                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
    </form>
  </div>

</div>
<div class="scroll-to-top">
  <button class="btn-primary" (click)="scrollToTop()">
    <i class="fa fa-chevron-up"></i>
  </button>
</div>